@media screen and (min-width: 320px) and (max-width: 1023px) {
  .main_content {
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
    overflow: visible;
  }
  .main_title {
    padding: 48px 16px 40px 16px;
  }
  .search_wrapper {
    display: none;
  }
  .search_mobile {
    padding: 0px 16px;
  }
  .search_wrapper_mobile {
    display: inline-flex;
    width: 100%;
  }
  .new_task {
    justify-content: center;
    padding: 10px;
    width: 40px;
    height: 40px;
  }
  .new_task > p,
  .new_task > a {
    font-size: 36px;
  }
  .kanban {
    flex-direction: column;
    justify-content: space-between;
    padding: 24px 16px 160px 16px;
  }
  h2 {
    font-size: 27px;
  }
  .column {
    align-items: start;
    width: 100%;
  }
  .column_title {
    width: 100%;
  }
  .column_list {
    flex-direction: row;
    width: 100%;
    height: auto;
    overflow-x: auto;
  }
  .nothing {
    width: 100%;
  }
  .board_card_header {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .task_board_dialog,
  .add_task_dialog {
    min-width: 234px;
    max-width: 353px;
    height: 640px;
  }
  .task_board {
    padding: 32px 24px;
  }
  h6 {
    font-size: 36px;
  }
  .task_board p {
  font-size: 1rem;
  }
  .swap_mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 27px;
    padding: 2px 3px;
    border: 2px solid var(--main_color);
    border-radius: 6px;
  }
  .add_task {
    padding: 32px 16px;
  }
  .add_task_head{
    display: none;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1439px) {
  body {
    overflow: auto;
  }
  .main_title {
    gap: 16px;
    padding-left: 64px;
  }
  .main_title > div {
    gap: 16px;
  }
  .search_wrapper {
    width: auto;
  }
  .kanban {
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 80px;
  }
  .column_list {
    height: 475px;
  }
  .add_task {
    padding: 32px 32px;
  }
}