body {
  display: flex;
  overflow: hidden;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 61px;
}

button {
  cursor: pointer;
}

aside {
  display: flex;
  flex-direction: column;
  gap: 114px;
  padding-top: 64px;
  padding-bottom: 64px;
  width: 232px;
  background-color: var(--main_color);
}

aside > img {
  display: flex;
  padding-left: 66px;
  padding-right: 66px;
}

aside > article {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.menu > a {
  padding-top: 8px;
  padding-bottom: 8px;
}

.another_page,
.current_page {
  display: flex;
  align-items: center;
  gap: 8px;
  padding-left: 56px;
  color: var(--menu_color);
  font-weight: 400;
}

.another_page:hover {
  background-color: var(--button_hover);
}

.current_page {
  background-color: var(--validate_color);
}

.legal_necessities {
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 4px;
  padding-left: 56px;
}

.policies {
  padding: 8px;
  color: var(--menu_color);
  font-family: "Inter";
  font-weight: 400;
}

.policies:hover {
  color: var(--button_hover);
}

.main_content {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 0;
  overflow: hidden;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 116px;
  background-color: white;
  position: relative;
  z-index: 1;
  box-shadow: 0 4px 4px 0px rgba(0, 0, 0, 0.1);
}

header > p {
  font-size: 20px;
}

.header_right {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 20px 40px 20px 0px;
}

.profile_icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 56px;
  height: 56px;
  background-color: white;
  border: 3px solid var(--main_color);
  border-radius: 50%;
}

.profile_icon:hover {
  background-color: var(--profile_hover);
}

.profile_icon > p {
  color: var(--button_hover);
  font-size: 1.5rem;
  font-weight: 700;
}

main {
  background-color: var(--bg_color);
  flex: 1;
}

.main_title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 80px 88px 48px 64px;
}

.main_title > div {
  display: flex;
  gap: 32px;
}

.search_wrapper {
  position: relative;
  display: inline-flex;
  align-items: center;
  width: 312px;
  border: 1px solid var(--border_color);
  border-radius: 10px;
  background-color: white;
}

.search_wrapper:hover {
  border: 1px solid var(--menu_color);
}

.search_wrapper:focus-within {
  border: 1px solid var(--main_color);
}

.search {
  flex: 1;
  padding: 8px 16px;
  width: 100%;
  border: none;
  border-radius: 10px;
  font-size: 21px;
  background: transparent;
}

.search:focus {
  outline: none;
}

.search_button {
  display: flex;
  justify-content: end;
  position: absolute;
  right: 8px;
  padding: 0;
  width: 48px;
  border-left: 1px solid var(--border_color);
  background: transparent;
}

.search_button > button {
  padding: 0px;
  width: 32px;
  height: 32px;
  border: none;
  border-radius: 50%;
  background-color: white;
}

.search_button > button:hover {
  background-color: buttonface;
}

.search_icon {
  pointer-events: none;
}

.new_task {
  padding: 8px 16px;
  width: 160px;
  height: 48px;
  border: none;
  border-radius: 10px;
  color: white;
  background-color: var(--main_color);
  font-size: 21px;
  font-weight: 700;
}

.new_task:hover {
  background-color: var(--add_hover);
  box-shadow: 0px 4px 4px 0px var(--button_shadow_hover);
}

h2 {
  font-size: 20px;
}

span {
  color: var(--medium_color);
}

.kanban {
  display: flex;
  gap: 35px;
  padding: 0px 64px;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.column_title {
  display: flex;
  justify-content: space-between;
  width: 244px;
  color: var(--button_hover);
}

.adding_task {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
  width: 24px;
  height: 24px;
  background-color: white;
  border: 3px solid var(--main_color);
  border-radius: 8px;
  font-size: 20px;
  font-weight: 700;
}

.nothing {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 246px;
  height: 48px;
  color: var(--border_color);
  background-color: var(--menu_color);
  border: 1px dashed var(--border_color);
  border-radius: 10px;
}

.dialog_open {
  overflow: hidden;
}